@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin user-select($val) {
  -webkit-user-select: $val;  /* Chrome all / Safari all */
  -moz-user-select: $val;     /* Firefox all */
  -ms-user-select: $val;      /* IE 10+ */
  user-select: $val;          /* Likely future */
}
