$card-border-radius: 0.35em;

$card-margin: 2.4%;

$color-background: #88B;
$color-card-front-background: #FFF;
$color-card-front-foreground-black: #000;
$color-card-front-foreground-red: #F00;
$color-card-back: #F77;
$color-card-border: #444;
$color-empty: rgba(254,254,254,0.3);
$color-container-overlay: rgba(100, 200, 100, 0.65);
