@import "lightscale/recomps/modal";

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin user-select($val) {
  -webkit-user-select: $val;  /* Chrome all / Safari all */
  -moz-user-select: $val;     /* Firefox all */
  -ms-user-select: $val;      /* IE 10+ */
  user-select: $val;          /* Likely future */
}

$card-border-radius: 0.35em;

* {
  padding:0;
  margin:0;
}

body {
  background-color: #88B;
  @include user-select(none);
}

.card[draggable] {
  @include user-select(none);
}

.homes .card-container .card-wrapper > .card-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 0;
}

.card-wrapper > .card-wrapper {
  margin-top: -109%;
}

.card-container, .card-spacer {

  margin:1.8% 2.5% 0;
  width:9.28%;
  float:left;
  position:relative;

  > .card-wrapper {
    position: absolute;
    width:100%;
    top:0;
  }

  .front {
    background-color:white;
  }

  .back {
    background-color: #f77;
  }

  .empty {
    background-color:rgba(254,254,254,0.3);
  }

  .card {
    @include aspect-ratio(2.5, 3.5);
    border: 1px solid black;
    border-radius: $card-border-radius;

    .content {
      h1 {
        font-size:2.2vw;
      }
      text-align:center;
    }
  }

  .stack {
    position:relative;
  }

  .stack .card {
    position:absolute;
    top:0;
    width: 100%;
    margin-top: 0 !important;
  }

  .red {
    color:red;
  }
  .black {
    color:black;
  }
}
.card-container.drag-over > .card-wrapper::before {
  background-color: rgba(100, 200, 100, 0.65);
  display: block;
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  border-radius: $card-border-radius;
}
